
.heading {
  display: flex;
  justify-content: center;
  font-size: 4rem;
}

.subheading {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  color: #f7f6f6;
}

.model-title {
  margin-right: 4rem;
  max-width: 150px;
  min-width: 150px;
  margin-top: 45px;
  margin-bottom: 5px;
  font-size: 1.2rem;
  padding: 0;
  max-height: 2rem;
  color:#f7f6f6;
}

h1 {
  color: #f7f6f6;
}

.lang_img,
.frame_img,
.lib_img,
.vc_img,
.db_img {
  position: relative;
  display: inline-block;
}

.lang_img img,
.frame_img img,
.lib_img img,
.vc_img img,
.db_img img {
  transition: transform 0.8s ease;
}

.lang_img:hover img,
.frame_img:hover img,
.lib_img:hover img,
.vc_img:hover img,
.db_img:hover img {
  transform: scale(1.3);
}

/* .lang_img,
.frame_img,
.lib_img,
.vc_img,
.db_img {
  display: inline-block;
  display: flex;
  flex-direction: column;
  max-width: 18vw;
  margin-bottom: 0px;
  margin-right: 40px;
  margin-top: 20px;
  padding: 20px;
  padding-left: 45px;
  padding-right: 45px;
  object-fit: fill;
  border: 2px solid rgb(250, 241, 241);
  border-radius: 12px;
} */



.frame_img,
.lib_img,
.vc_img,
.db_img {
  padding-inline-start: 0;
  padding-left: 30px;
}
/* 
.model-container {
  transform: scale(0.50);
  transform-origin: top left;
  left: 2vw;
  height:auto;
} */



/* .languages_images {
  width: 6.5rem;
} */


body {
  background-color: #292c31;
}

/* .container-div {
  display: flex;
  flex-direction: row;
  height: 40rem;
  width: 40rem;
} */


#frameworks_img,
#languages_img,
#library_img,
#versioncontrol_img,
#databases_img {
  display: flex;
  flex-direction: row;
  margin-right: 0px;
  margin-bottom: 10px;
}

#skills-id {
  margin-top: 6rem;
}


.model-container .modal-image {
  width:10rem; 
  height: 5rem; 
  border-radius: 5px;
  object-fit:contain; 
  object-position: center; 
  padding: 5px; 
  margin-bottom: 1rem;
}


h2 {
  color:#f7f6f6;
}

.text-center {
  color:#f7f6f6;
  margin-bottom: 3rem;;
}

h1 {
  color:#f7f6f6;
  display: flex;
  justify-content: start;
}

.display-4 {
  display: flex;
  justify-content: center;
  margin: 0;
}

p {
  color:#f7f6f6;
}

.img-fluid {
  max-width: 14rem;
  height: auto;
}

.sticky-top {
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar {
  background-color: #292c31;
}

a,
.nav-link {
  color:#f7f6f6;
}

#contact label {
    color:#f7f6f6;
  }

#location-map {
  margin-top: 2.3rem;
}

.colored {
  font-size: 5rem;
}

.personal-details {
  margin-left:4rem;
  color:#f7f6f6;
}

.personal-details-field-name {
  margin-bottom: 10px;
}

#projects-header {
  color: black;
}

.flag-icon {
  width:2rem;
}

#about {
  margin-bottom:3rem;
  margin-top: 4rem;
}
