#main-header {
    display: flex;
    justify-content: center;
    color: red;
}

#hero-span {
    display: flex;
    justify-content: center;
}

#subheading {
    display: flex;
    justify-content: center;
}

.language-container h3 {
    color: #333;
}

.framework-container h3 {
    color: #555;
}


img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-start;
    flex: 0 0 auto;
    margin: 0;
    max-width: 100px;
    margin-bottom: 20px;
}

.languages_images {
    display:flex;
    flex-direction: column;
    margin-right: 0;
}