
#main-header {
    display: flex;
    justify-content: center;
    color: red;
}

#hero-span{
    display: flex;
    justify-content: center;
}

#subheading {
    display: flex;
    justify-content: center;
}