{% extends 'base.html' %}
{% block content %}

<head>
  <!-- Include Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body class="dashboard-body">
  <div class="container">
    <div class="header-container d-flex justify-content-center">
      <h1>Admin Dashboard</h1>
    </div>

    <div class="container">
      <div class="row box-row">
        <div class="col-md-6">
          <div class="card h-100">
            <div class="card-header text-center">Headings</div>
            <div class="card-body d-flex flex-column justify-content-center align-items-center">
              <div class="image-container">
                <img src="../media/dashboard-images/header-edit.png" alt="Headings Image" class="img-fluid">
              </div>
              <div class="text-center mt-auto">
                <a href="{% url 'edit-headings' %}" class="btn btn-primary edit-button">Edit</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card h-100">
            <div class="card-header text-center">Personal Details</div>
            <div class="card-body d-flex flex-column justify-content-center align-items-center">
              <div class="image-container">
                <img src="../media/dashboard-images/personal-details.png" alt="Personal Details Image" class="img-fluid personal-details-img">
              </div>
              <div class="text-center mt-auto">
                <a href="{% url 'edit-personal-details' %}" class="btn btn-primary edit-button">Edit</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="card h-100">
            <div class="card-header text-center">Skills</div>
            <div class="card-body d-flex flex-column justify-content-center align-items-center">
              <div class="image-container">
                  <img src="../media/dashboard-images/skills-section.png" alt="Skills Image" class="img-fluid">
              </div>
              <div class="text-center mt-auto">
                  <div class="d-flex justify-content-between">
                      <a href="{% url 'edit-skills' skill.id %}" class="nav-link btn btn-primary">Edit</a>
                      <div style="margin-left: 0.5rem;"></div>
                      <a href="{% url 'add-skill' %}" class="nav-link btn btn-success">Add Skill</a>
                  </div>
              </div>
          </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card h-100">
            <div class="card-header text-center">Projects</div>
            <div class="card-body d-flex flex-column justify-content-center align-items-center">
              <div class="image-container">
                <img src="../media/dashboard-images/projects-section.png" alt="Projects Image" class="img-fluid">
              </div>
              <div class="text-center mt-auto">
                <a href="{% url 'edit-projects' project.id %}" class="nav-link btn btn-primary">Edit</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

{% endblock %}