{% extends "base.html" %}

{% block content %}

<div class="container-lg">
    <div class="row justify-content-center mt-4">
      <div class="col">
        <form method="POST" class="edit">
          {% csrf_token %}
          <div class="text-center mb-4">
            <h1 class="justify-content-center" style="margin-bottom: 4rem;">Edit Skills</h1>
          </div>
          <div class="row">
            <div class="col-md-4 mb-4">
              <div style="background-color: rgb(185, 185, 184); padding: 20px;">
                <div class="form-group" style="margin-bottom: 1rem;">
                  {{ skills_form.name.label_tag }}
                  {{ skills_form.name }}
                </div>
                <div class="form-group" style="margin-bottom: 1rem;">
                  {{ skills_form.icon.label_tag }}
                  {{ skills_form.icon }}
                </div>
                <div class="form-group" style="margin-bottom: 1rem;">
                  {{ skills_form.description.label_tag }}
                  {{ skills_form.description }}
                </div>
                <div class="form-group" style="margin-bottom: 1rem;">
                  {{ skills_form.progress.label_tag }}
                  {{ skills_form.progress }}
                </div>
                <div class="form-group" style="margin-bottom: 1rem;">
                  {{ skills_form.category.label_tag }}
                  {{ skills_form.category }}
                </div>
              </div>
            </div>
            <div class="col-md-8 mb-4">
              <div class="bg-dark">
                {% include 'components/skills/skills.html' %}
              </div>
            </div>
          </div>
          <div class="text-center">
            <a type="submit" class="btn btn-primary">Edit</a>
            <a type="button" class="btn btn-danger">Delete</a>
          </div>
          <div class="text-center mt-3">
            <a href="{% url 'home' %}" class="btn btn-warning">Back to Home</a>
          </div>           
          </div>
        </form>
      </div>
    </div>
</div>

{% endblock %}
