{% extends 'base.html' %}

{% block content %}

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg sticky-top">
    <div class="container">
      <a class="navbar-brand" href="#">My Portfolio</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#skills">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">CV</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Hero Section -->
  <header class="bg-primary text-white text-center py-5">
    <div class="container">
      {% for headings in headings %}
      <h1 class="display-4 big-header">{{ headings.big_header }}</h1>
      <p class="lead sub-header">{{ headings.sub_header }}</p>
    </div>
  </header>

  <!-- About Section -->
  <section id="about" class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-5 about-me-par">
          <p>{{ headings.par1 }}</p>
          <p>{{ headings.par2 }}</p>
        </div>
        {% endfor %}
        <div class="col-md-2 profile-pic">
          <img src="media/images/Aron-face-image.JPG" alt="Profile Picture" class="img-fluid square prof-pic">
        </div>
        <div class="col-md-4 personal-details">
          <h4>Personal Details:</h4>
          {% for detail in data %}
          <div class="personal-details-field row">
            <div class="col-4 personal-details-field-name">Name:</div>
            <div class="col-8">{{ detail.full_name }}</div>
          </div>
          <div class="personal-details-field row">
            <div class="col-4 personal-details-field-name">Nationality:</div>
            <div class="col-8">
              {% if detail.flag_nationality %}
              <img src="{{ detail.flag_nationality.url }}" class="flag-icon" alt="Flag">
              {% endif %}
              {{ detail.nationality }}
            </div>
          </div>
          <div class="personal-details-field row">
            <div class="col-4 personal-details-field-name">Residency:</div>
            <div class="col-8">
              {% if detail.flag_residency %}
              <img src="{{ detail.flag_residency.url }}" class="flag-icon" alt="Flag">
              {% endif %}
              {{ detail.residency }}
            </div>
          </div>
          <div class="personal-details-field row">
            <div class="col-4 personal-details-field-name">Languages:</div>
            <div class="col-8">{{ detail.languages }}</div>
          </div>
          <div class="personal-details-field row">
            <div class="col-4 personal-details-field-name">Studying:</div>
            <div class="col-8">{{ detail.studying }}</div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
  

  <section id="skills" class="container skills-container">
    <h1 id="skills-id">Skills</h1>
    <div class="container-div">
      <div class="model-container">

        {% for language in languages %}
      <li id="languages_img">
        <ul class="model-title">
          <h1>Languages:</h1>
        </ul>
        <ul class="lang_img">
          <img class="languages_images modal-image" src="{{ language.image1.url }}">
        </ul>
        <ul class="lang_img"><img class="languages_images modal-image" src="{{ language.image2.url }}"></ul>
        <ul class="lang_img"><img class="languages_images modal-image" src="{{ language.image3.url }}"></ul>
        <ul class="lang_img"><img class="languages_images modal-image python-image" src="{{ language.image4.url }}"></ul>
      </li>
      {% endfor %}

        {% for framework in frameworks %}
        <li id="frameworks_img">
          <ul class="model-title">
            <h1>Frameworks:</h1>
          </ul>
          <ul class="frame_img"><img class="frameworks_images modal-image" src="{{ framework.image1.url }}"
              alt="{{ framework.name }}"></ul>
          <ul class="frame_img"><img class="frameworks_images modal-image" src="{{ framework.image2.url }}"
              alt="{{ framework.name }}"></ul>
          <ul class="frame_img"><img class="frameworks_images modal-image" src="{{ framework.image3.url }}"
              alt="{{ framework.name }}"></ul>
          <ul class="frame_img"><img class="frameworks_images modal-image" src="{{ framework.image4.url }}"
              alt="{{ framework.name }}"></ul>

        </li>
        {% endfor %}

        {% for database in database %}
        <li id="databases_img">
          <ul class="model-title">
            <h1>Databases:</h1>
          </ul>
          <ul class="db_img"><img class="database_images modal-image" src="{{ database.image1.url }}"
              alt="{{ database.name }}">
          </ul>
          <ul class="db_img"><img class="database_images modal-image" src="{{ database.image2.url }}"
              alt="{{ database.name }}">
          </ul>
          <ul class="db_img"><img class="database_images modal-image" src="{{ database.image3.url }}"
              alt="{{ database.name }}">
          </ul>
          <ul class="db_img"><img class="database_images modal-image" src="{{ database.image4.url }}"
              alt="{{ database.name }}">
          </ul>

        </li>

        {% endfor %}


        {% for versioncontrol in versioncontrol %}
        <li id="versioncontrol_img">
          <ul class="model-title">
            <h1>Version Control:</h1>
          </ul>
          <ul class="vc_img"><img class="vc_images modal-image" src="{{ versioncontrol.image1.url }}"
              alt="{{ versioncontrol.name }}">
          </ul>
          <ul class="vc_img"><img class="vc_images modal-image" src="{{ versioncontrol.image2.url }}"
              alt="{{ versioncontrol.name }}">
          </ul>
          <ul class="vc_img"><img class="vc_images modal-image" src="{{ versioncontrol.image3.url }}"
              alt="{{ versioncontrol.name }}">
          </ul>
          <ul class="vc_img"><img class="vc_images modal-image" src="{{ versioncontrol.image4.url }}"
              alt="{{ versioncontrol.name }}">
          </ul>

        </li>

        {% endfor %}


        {% for libraries in libraries %}
        <li id="library_img">
          <ul class="model-title">
            <h1>Libraries:</h1>
          </ul>
          <ul class="lib_img"><img class="library_images modal-image" src="{{ libraries.image1.url }}"
              alt="{{ libraries.name }}">
          </ul>
          <ul class="lib_img"><img class="library_images modal-image" src="{{ libraries.image2.url }}"
              alt="{{ libraries.name }}">
          </ul>
          <ul class="lib_img"><img class="library_images modal-image" src="{{ libraries.image3.url }}"
              alt="{{ libraries.name }}">
          </ul>
          <ul class="lib_img"><img class="library_images modal-image" src="{{ libraries.image4.url }}"
              alt="{{ libraries.name }}">
          </ul>

        </li>
        {% endfor %}
      </div>
  </div>
  </section>

  <!-- Projects Section -->
  <section class="bg-light py-5">
    <div class="container">
      <h1 class="text-center" id="projects-header">Projects</h1>
      <div class="row">
        {% for project in projects %}
        <div class="col-md-4">
          <div class="card mb-4">
            <img src="{{ project.image.url }}" alt="{{ project.name }}" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">{{ project.name }}</h5>
              <p class="card-text">Description.</p>
              <a href="{{ project.github_url }}" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <section id="cv" class="bg-light py-5">
    <div class="container text-center">
      <h1 class="cv-text">Download CV</h1>
      <p class="cv-text">Click the button below to download my CV in PDF format.</p>
      <a href="path/to/your/cv.pdf" class="btn btn-primary" download>Download CV</a>
    </div>
  </section>

  <section id="contact" class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>Contact Me</h1>
          <form>
            <form>
              <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" required>
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" required>
              </div>
              <div class="mb-3">
                <label for="message" class="form-label">Message</label>
                <textarea class="form-control" id="message" rows="8" required></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>

          </form>
        </div>
        <div class="col-md-6">
          <h1>Where am I?</h1>
          <div id="location-map">
            <iframe width="100%" height="380" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2845511.1018018126!2d-8.80145866936307!3d54.14996831559382!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x485ee9b5677caee9%3A0xa00c7a997317380!2sSligo%2C%20Ireland!5e0!3m2!1sen!2sus!4v1684179425631!5m2!1sen!2sus"
              width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
            </iframe>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>





  {% endblock %}