{% extends 'base.html' %}

{% block content %}

<body>
  <!-- Nav Bar -->
  <nav class="navbar navbar-expand-lg sticky-top">
    <div class="container">
      <a class="navbar-brand" href="#">My Portfolio</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#skills">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#cv">CV</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Headings Section -->
  <header class="bg-primary text-white text-center py-5">
    <div class="container">
      {% for headings in headings %}
      <h1 class="display-4 big-header">{{ headings.big_header }}</h1>
      <p class="lead sub-header">{{ headings.sub_header }}</p>
    </div>
  </header>

  <section id="about" class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-5 about-me-par">
          <p>{{ headings.par1 }}</p>
          <p>{{ headings.par2 }}</p>
          <p>{{ headings.par3 }}</p>
        </div>
        {% endfor %}
        <div class="col-md-2 profile-pic">
          <img src="media/images/Aron-face-image.JPG" alt="Profile Picture" class="img-fluid square prof-pic">
        </div>

        <!-- Personal Details Section -->
        <div class="col-md-4 personal-details">
          <h4>Personal Details:</h4>
          {% for detail in data %}
          <div class="personal-details-field row">
            <div class="col-4 personal-details-field-name">Name:</div>
            <div class="col-8">{{ detail.full_name }}</div>
          </div>
          <div class="personal-details-field row">
            <div class="col-4 personal-details-field-name">Nationality:</div>
            <div class="col-8">
              {% if detail.flag_nationality %}
              <img src="{{ detail.flag_nationality.url }}" class="flag-icon" alt="Flag">
              {% endif %}
              {{ detail.nationality }}
            </div>
          </div>
          <div class="personal-details-field row">
            <div class="col-4 personal-details-field-name">Residency:</div>
            <div class="col-8">
              {% if detail.flag_residency %}
              <img src="{{ detail.flag_residency.url }}" class="flag-icon" alt="Flag">
              {% endif %}
              {{ detail.residency }}
            </div>
          </div>
          <div class="personal-details-field row">
            <div class="col-4 personal-details-field-name">Languages:</div>
            <div class="col-8">{{ detail.languages }}</div>
          </div>
          <div class="personal-details-field row">
            <div class="col-4 personal-details-field-name">Studying:</div>
            <div class="col-8">{{ detail.studying }}</div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>


  <section id="skills" class="container skills-container">
    <div class="skills-container">
      <h1 id="skills-id">SKILLS</h1>
      <div class="row">
        <div class="model-container col-lg-6">
          {% for category in category %}
        <div class="row">
          <div class="model-item col-md-2">
            <h6 class="category-names">{{ category.name }}</h6>
          </div>
          <div class="model-item col-md-10">
            <ul class="lang_img">
              {% for skill in skill %}
              {% if skill.category == category %}
              <li class="d-inline-block"><img class="languages_images modal-image" src="{{ skill.icon }}" alt="{{ skill.name }}"></li>
              {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
        {% endfor %}
    </div>

    <div id="modal-div" class="col-lg-6">
      <div id="modal-box">
        <div class="modal-content">
          <img id="modal-image" class="modal-image" src="" alt="Modal Image">
          <p id="modal-text"></p>
        </div>
      </div>
    </div>
    </div>
  </section>



  <!-- Projects Section -->
  <section id="projects" class="bg-light py-5">
    <div class="container projects-section">
      <h1 class="text-center" id="projects-header">Projects</h1>
      <div class="row">
        {% for project in projects %}
        <div class="col-md-3">
          <div class="card mb-3">
            <img src="{{ project.image.url }}" alt="{{ project.name }}" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">{{ project.name }}</h5>
              <p class="card-text">{{ project.description }}</p>
              <a href="{{ project.github_url }}" class="btn btn-primary" target="_blank">Learn More</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <!--Contact Section-->
  <section id="contact" class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>Contact Me</h1>
          <form>
            <form>
              <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" required>
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" required>
              </div>
              <div class="mb-3">
                <label for="message" class="form-label">Message</label>
                <textarea class="form-control" id="message" rows="8" required></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>

          </form>
        </div>
        <div class="col-md-6">
          <h1>Where am I?</h1>
          <div id="location-map">
            <iframe width="100%" height="380" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2845511.1018018126!2d-8.80145866936307!3d54.14996831559382!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x485ee9b5677caee9%3A0xa00c7a997317380!2sSligo%2C%20Ireland!5e0!3m2!1sen!2sus!4v1684179425631!5m2!1sen!2sus"
              width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
            </iframe>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--CV Download Section-->
  <section id="cv" class="bg-light py-5">
    <div class="container text-center">
      <h1 class="cv-text">Download CV</h1>
      <p class="cv-text">Click the button below to download my CV in PDF format.</p>
      <a href="media/cv-pdf/Aron Moelich Resume CV.pdf" class="btn btn-primary" download>Download CV</a>
    </div>
  </section>

  <!--Footer Section-->
  <footer class="text-light text-center py-4">
    <div class="container d-flex flex-column">
      <div class="row flex-grow-1">
        <div class="col">
          <div class="social-icons">
            <div class="social-icons">
              <a href="#" target="_blank" class="social-icon"><i class="fab fa-facebook-f"></i></a>
              <a href="#" target="_blank" class="social-icon"><i class="fab fa-twitter"></i></a>
              <a href="#" target="_blank" class="social-icon"><i class="fab fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>@2023 My Portfolio Website. For educational purposes</p>
        </div>
      </div>
    </div>
  </footer>

  <script>
    // Get the modal element
    var modal = document.getElementById("modal-box");

    // Get the image and text elements inside the modal
    var modalImage = document.getElementById("modal-image");
    var modalText = document.getElementById("modal-text");
    var modalTitle = document.querySelector("#modal-box h2");

    // Function to open the modal and display the content with fade-in effect
    function openModal(imageSrc, textContent, titleContent) {
      modal.style.display = "block";
      modal.classList.add("fade-in");
      modalImage.src = imageSrc;
      modalText.innerText = textContent;
      modalTitle.innerText = titleContent;

      setTimeout(function () {
        modal.classList.remove("fade-in");
      }, 1000); // Adjust the delay duration as needed
    }

    // Function to close the modal
    function closeModal() {
      modal.style.display = "none";
      modal.classList.remove("fade-in");
    }

    var icons = document.querySelectorAll(".modal-image");
    icons.forEach(function (icon) {
      icon.addEventListener("click", function () {
        var imageSrc = icon.src;
        var textContent = "This text needs to display unique information about each individual skill displayed within this modal"; // Replace with your desired text content
        var titleContent = icon.alt;
        openModal(imageSrc, textContent, titleContent);
      });
    });


    var closeButton = document.querySelector(".modal-close-button");
    closeButton.addEventListener("click", closeModal);

    // Close the modal when clicking outside of it
    window.addEventListener("click", function (event) {
      if (event.target === modal) {
        closeModal();
      }
    });
  </script>
</body>
{% endblock %}