{% extends 'base.html' %}

{% block content %}
<h1 id="main-header">
    Welcome to my Portfolio Page
</h1>

<span id="hero-span">
    <img src="staticfiles/admin/img/illustration-hands-on-laptop-multiple-sites.jpg" id="hero-image">
</span>

<h3 id="subheading">
My name is Aron and this is my personal portfolio page
</h3>

{% for detail in data %}
    <div> {{ detail.full_name }} </div>
    <div> {{ detail.nationality }} </div>
    <div> {{ detail.residency }} </div>
    <div> {{ detail.languages }} </div>
    <div> {{ detail.address }} </div>
{% endfor %}

{% endblock %}

