{% extends 'base.html' %}

{% block content %}
<body>
    <!-- <h1>SKILLS</h1>

{% for detail in data %}
    <div> {{ detail.languages }} </div>
    <div> {{ detail.frameworks }} </div>
    <div> {{ detail.databases }} </div>
    <div> {{ detail.version_control }} </div>
{% endfor %} -->

<h2>Languages:</h2>
{% for language in languages %}
    <img class="languages_images" src="{{ language.image.url }}" alt="{{ language.name }}">
{% endfor %}

<h2>Frameworks:</h2>
{% for framework in frameworks %}
    <img class="frameworks_images" src="{{ framework.image.url }}" alt="{{ framework.name }}">
{% endfor %}

</body>
{% endblock %}
</html>