<div id="modal-div" class="col-lg-6">
  <div id="modal-box" class="d-flex align-items-center justify-content-center">
    <div class="modal-content">
      <span class="modal-close-button">&times;</span>
      <div class="row">
        <div class="col-md-4">
          <img id="modal-image" class="modal-image modal-image-inside" src="" alt="Modal Image">
        </div>
        <div class="col-md-8">
          <h2 id="modal-title"></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p id="modal-text"></p>
        </div>
      </div>
    </div>
  </div>
</div>
