<section id="about" class="py-8">
  <header class="bg-primary text-white text-center py-6 header-container-blue">
    <div class="container">
      {% for heading in headings %}
      <h1 class="display-4 big-header">{{ heading.big_header }}</h1>
      <p class="lead sub-header">{{ heading.sub_header }}</p>
    </div>
  </header>
  <div class="container">
    <div class="row">
      <div class="col-md-3 profile-row">
        <img src="{{ heading.profile_image.url }}" alt="Profile Picture" class="prof-pic">
      </div>
      <div class="col-md-6 about-me-par">
        {% if heading.par1 %}
        <!-- Dynamic paragraph 1 -->
        <p class="intro-par-1">{{ heading.par1 }}</p>
        {% endif %}
        {% if heading.par2 %}
        <!-- Dynamic paragraph 2 -->
        <p class="mt-3 intro-par-2">{{ heading.par2 }}</p>
        {% endif %}
      </div>
      <div class="col-md-3 ml-2 align-items-center">
        <div class="row">
          <div class="mt-5 ml-4">
            <img src="../media/skills-images/student.png" class="status-images">
          </div>
          <div class="mt-5 ml-4">
            <img src="../media/skills-images/enrolled.png" class="status-images-2">
          </div>
          <div class="mt-5 ml-4">
            <img src="../media/skills-images/accept.png" class="status-images">
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>