<section id="about" class="py-8">
  <header class="bg-primary text-white text-center py-6 header-container-blue">
    <div class="container">
      {% for heading in headings %}
      <h1 class="display-4 big-header">{{ heading.big_header }}</h1>
      <p class="lead sub-header">{{ heading.sub_header }}</p>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-md-3 profile-pic">
        <img src="{{ heading.profile_image.url }}" alt="Profile Picture" class="img-fluid prof-pic">
      </div>
      <div class="col-md-7 about-me-par">
        <p id="intro-par1" class="mt-3 intro-par hidden">{{ heading.par1 }}</p>
        <p id="intro-par2" class="mt-3 intro-par hidden">{{ heading.par2 }}</p>
      </div>
      <div class="col-md-2">

      </div>
      {% endfor %}
    </div>
  </div>
</section>
